body {
  padding: 50px 50px 50px 50px;
}

.main {
  position: relative;
  width: 600px;
  height: 450px;
  background: url('background-random.php') no-repeat center center;
  
  /** border: 1px #AAAAAA solid; */
}

h1 {
    width: 100%;
    background-color: #DEBA3A;
    margin: 0 0 0 0;
    line-height: 60px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
}

h2 {
    position: absolute;
    width: 100%;
    background-color: #DEBA3A;
    top: 405px;
    
    margin: 0 0 0 0;
    line-height: 45px;
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    
    text-align: center;
}

.phone {
  background: url('phone-symbol-2.png') #B28B23 no-repeat 330px 0px;
  line-height: 32px;
  text-align: right;
  
  font-weight: bolder;
  padding-right: 110px;
}

.quote {
  position: absolute;
  
  left: 490px;
  top: 15px;
  
  width: 90px;
  height: 90px;
  background-color: #305E1D;
  
  padding-top: 10px;  
  padding-left: 15px;
  text-align: center;
  
  border-radius: 50px;
} 

.quote p {
  width: 65px;
  font-family: 'Montserrat', sans-serif;  
}

ul {
  list-style-type: none;
}

ul li {
   font-family: 'Titillium Web', sans-serif;
   color: #ffffff;
   font-weight: bolder;
   margin: 5px;
}

ul li.one {
  width: 100px;
  background-color: #DEBA3A; 
  border-radius: 10px;
  text-align: center;
}

ul li.two {
  width: 150px;
  background-color: #B28B23; 
  border-radius: 10px;
  text-align: center;
}

ul li.three {
  width: 200px;
  background-color: #305E1D; 
  border-radius: 10px;
  text-align: center;
}

ul li.four {
  width: 250px;
  background-color: #660F21; 
  border-radius: 10px;
  text-align: center;
}

ul li.five {
  width: 300px;
  background-color: #0F284A; 
  border-radius: 10px;
  text-align: center;
}